
<div class="shadow-lg bg-white bg-opacity-30
            px-8 py-8 flex flex-col justify-center text-center">
  <h1 class="text-2xl font-bold py-4 text-gray-800">
    <%= @win? "Nice job!" : "Oops..." %>
  </h1>

<div class="flex justify-center gap-1 mb-6">
  <% @attempt.chars.each do |letter| %>
    <div class="bg-gray-800 text-gray-50 text-lg cursor-default
              w-10 h-10 flex justify-center justify-self-center items-center">
      <%= letter.upcase %>
    </div>
  <% end %>
</div>

<div class="flex flex-col text-center">
    <p><%= "'#{@attempt.upcase}' #{@message}" %></p>
    <p> <%= @win? "You took #{@time} seconds.": '' %></p>
    <br>
    <p>Score: <%= @score %></p>
    <p>Total score: <%= session[:score] %></p>

    <p><%= link_to "Try Again", root_path,
           class: "mt-2 h-14 px-4 text-lg cursor-pointer bg-gray-800 w-full
                   text-gray-50 hover:bg-gray-700 hover:shadow-md
                   flex justify-center items-center"%></p>
</div>
